.App {
    background-image: url('https://media.istockphoto.com/vectors/internet-technology-and-programming-seamless-background-with-linear-vector-id507208724?s=2048x2048');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}