.Register {
    width: 80%;
    padding: 16px;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background: white;
}

.Register label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.Register input,
.Register textarea,
.Register select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: 10px auto;
}

.Register .btn {
    margin: 10px;
}